border-1px($color)
 position:relative
 &::after
  position:absolute
  content:' '
  left:0
  bottom:0
  border-top:1px solid $color
  width:100%
  display:block
border-no() 
	&:after
		display:none
bg-image($url)
 background-image:url($url+"@2x.png")
 @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio)
   background-image: url($url+"@3x.png")